doctype html
html(lang='en')
  head
    title overlay
    style.
      #overlay {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        opacity: 0.5;
        position: absolute;
        z-index: 3;
        background-color: blue;
      }
  body
    script(src='jquery-2.1.1.min.js')
    script.
        overlayx = parseFloat(#{overlayx})
        overlayy = parseFloat(#{overlayy})
        overlayw = parseFloat(#{overlayw})
        overlayh = parseFloat(#{overlayh})
        width = parseFloat(#{width})
        height = parseFloat(#{height})
    script(src='overlay.js')
    img(style='position: absolute; top: 0; left: 0; pointer-events: none', unselectable='on', draggable='false', src='thumbnail?video=' + video + '&time=' + time + '&width=' + width + '&height=' + height)
    #overlay

